button {
    width: 193px;
    height: 52px;
    border-radius: 8px;
    background-color: #FCAF17;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1.1%;
    text-align: center;
    color: #020202;
}

button:hover {
    scale: calc(1.1);
    opacity: 0.75;
}

